%html
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %title= table
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/js/jquery-ui-1.10.0.custom/css/smoothness/jquery-ui-1.10.0.custom.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/images.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/form.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/lightview/lightview.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/bootstrap.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/bootstrap-responsive.css'}
    %script{:src => '/js/jquery-1.9.1.js'}
    %script{:src => '/js/jquery-ui-1.10.0.custom/js/jquery-ui-1.10.0.custom.js'}
    %script{:src => '/js/bootstrap.js'}
    %script{:src => '/js/bootstrap.file-input.js'}
    %script{:src => '/js/spinners/spinners.min.js'}
    %script{:src => '/js/lightview/lightview.js'}
    %script{:src => '/js/Images.js'}
    %script{:src => '/js/ImagesForm.js'}
  %body
    #page
      %button#add_button{:class => 'btn'} Добавить
      %a{:href => "/test/index.rb?table=goods"} Товары
      %a{:href => "/test/index.rb?table=users"} Пользователи
      %a{:href => "/test/index.rb?table=groups"} Группы
      %a{:href => "/test/index.rb?table=orders"} Заказы
      %a{:href => "/test/index.rb?table=category"} Категории
      %a{:href => "/test/index.rb?table=images"} Картинки
      -f = Haml::Engine.new(File.read('templates/form_template.haml',:encoding => 'UTF-8')).render(Object.new,{:act => 'add', :fields => fields, :table => table})
      %form#add{:method => 'post', :action => "/test/index.rb", :enctype => 'multipart/form-data'}= f
      -f = Haml::Engine.new(File.read('templates/form_template.haml',:encoding => 'UTF-8')).render(Object.new,{:act => 'update', :fields => fields, :table => table})
      %form#update{:method => 'post', :action => '/test/index.rb', :enctype => 'multipart/form-data'}= f
      .demonstrations
        -for row in rows do
          .image_container{:img_id => row['id']}
            %a{:href => "/images/#{row['fs_link']}",
               :class => 'lightview',
               'data-lightview-group' => 'images',
               'data-lightview-title' => row['name']}
              %img{:src => "/images/thumb/#{row['fs_link']}", :alt => ''}
            .del{:onclick => "DeleteImg(#{row['id']})"}
            .edit{:onclick => "UpdateImg([#{row['id']},'#{row['name']}', '#{row['fs_link']}'])"}
            .show_full{:onclick => "ShowFullImage('#{row['fs_link']}')"}
      #dialog-confirm{:title => 'Удалить?'}
        %p
          %span{:class => 'ui-icon ui-icon-alert'}
          Вы уверены?
