%html
  %head 
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=windows-1251"}
    %title Goods
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/plugins/jquery-ui-1.10.3.custom/css/vader/jquery-ui-1.10.3.custom.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/style_main.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/form.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/plugins/jquery.jqGrid-4.5.0/css/ui.jqgrid.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/bootstrap.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/bootstrap-responsive.css'}
    %script{:src => '/js/bootstrap.js'}
    %script{:src => '/plugins/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js'}
    %script{:src => '/plugins/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js'}
    %script{:src => '/plugins/jquery.jqGrid-4.5.0/js/i18n/grid.locale-ru.js'}
    %script{:src => '/plugins/jquery.jqGrid-4.5.0/js/jquery.jqGrid.src.js'}
    %script{:src => '/js/bootstrap.file-input.js'}
    %script{:src => 'js/DebugJS'}
    %script{:src => '/js/main.js'}
    %script{:src => '/js/ImagesForm.js'}

    -$Log.write(fields.to_json)
  %body{:onload => "PrepareGrid(#{fields.to_json})"}
    #page
      %button#add_button{:class => 'btn'} Добавить
      %a{:href => "/test/index.rb?table=goods"} Товары
      %a{:href => "/test/index.rb?table=users"} Пользователи
      %a{:href => "/test/index.rb?table=groups"} Группы
      %a{:href => "/test/index.rb?table=orders"} Заказы
      %a{:href => "/test/index.rb?table=category"} Категории
      %a{:href => "/test/index.rb?table=images"} Картинки
      -f = Haml::Engine.new(File.read('templates/form_template.haml',:encoding => 'UTF-8')).render(Object.new,{:act => 'add', :fields => fields, :table => table})
      %form#add{:method => 'post', :action => "/test/index.rb", :enctype => 'multipart/form-data'}= f
      -f = Haml::Engine.new(File.read('templates/form_template.haml',:encoding => 'UTF-8')).render(Object.new,{:act => 'update', :fields => fields, :table => table})
      %form#update{:method => 'post', :action => '/test/index.rb', :enctype => 'multipart/form-data'}= f
      %table{:id => 'content_table'}
        %thead
          %tr
            -fields.each do |key, field|
              %th= field.name
        -for row in rows do
          %tr
            -row.each_with_name do |row_value, name|
              %td= row_value
      #table_pager
